body {
  width: 100%;
  background-color: var(--secondary-color);
  color: #1b1b1b;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.blog,
.article {
  position: relative;
  height: fit-content;
  padding-bottom: 0;
}

.article,
.title {
  min-height: auto;
  height: fit-content;
  padding: 0 10px;
  white-space: normal;
}

.published {
  margin: 20px 0 60px;
  padding: 0 10px;
  font-style: italic;
  color: var(--primary-color);
}

.published span {
  font-weight: 700;
  font-style: normal;
}

.article * {
  word-break: break-word;
  color: var(--primary-color);
}

.article-image {
  max-width: 100%;
  max-height: 62.5em;
  margin: 30px auto;
  object-fit: contain;
}

.sub-heading {
  padding: 0 5vw;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 40px;
  margin-top: 80px;
}

/* #edit-blog-btn {
  background: rgba (0, 0, 0, 0.2);
  display: none;
} */
